# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
print('Eu sou minerador de dados')

Eu sou minerador de dados

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [2]:
2+2

4

In [3]:
4-2

2

3) Imprima o tipo de um determinado valor inteiro.

In [5]:
valor=5
type(valor)

int

In [4]:
type(5)

int

4) Converta o valor passado anteriormente para o tipo float

In [6]:
float(valor)

5.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [7]:
str(valor)

'5'

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [8]:
round(2.898)

3

In [9]:
round(2.4545455,4)

2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [11]:
nome='thati'
print(nome)

thati

In [12]:
type(nome)

str

In [17]:
primeiro='Thatiane'
segundo=' Lima'
nome=primeiro + segundo
print(nome)

Thatiane Lima

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [21]:
frase='Python é uma maldição!'
print(frase)

Python é uma maldição!

In [19]:
frase[0]

'P'

In [20]:
frase[:6]

'Python'

In [28]:
frase2='dados é o novo petrole, em Deus eu confio, para o resto me traga dados'
frase2.count('dados')

2

In [29]:
frase2.capitalize()

'Dados é o novo petrole, em deus eu confio, para o resto me traga dados'

In [30]:
frase2.split()

['dados',
 'é',
 'o',
 'novo',
 'petrole,',
 'em',
 'Deus',
 'eu',
 'confio,',
 'para',
 'o',
 'resto',
 'me',
 'traga',
 'dados']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [32]:
pessoa=['Thati','Danilo',27,28]
pessoa[1]

'Danilo'

In [35]:
pessoa[1]='Aline'
print(pessoa)

['Thati', 'Aline', 27, 28]

In [37]:
pessoa[1:]

['Aline', 27, 28]

In [40]:
pessoa.remove
print(pessoa)

['Thati', 'Aline', 27, 28]

In [41]:
salario=[900,1200,1500,800,12587,10000]

In [44]:
10000 in salario

True

In [50]:
min=min(salario)
print(min)
max(salario)

800

12587

In [54]:
salario.extend(7000,500)
print(salario)

TypeError: extend() takes exactly one argument (2 given)

In [55]:
salario.index(800)

3